html{
	background:#333 url('../bg.png') repeat top left;
	color:#FFFFFF;
}
.window {
  margin: 0 auto;
  width: 800px;
}
ul.list_menu{
  background: #333;
	padding:0;
	list-style: none;
	font-family:"Myriad Pro", "Trebuchet MS", sans-serif;
	font-size:14px;
}
.header {
  overflow: hidden;
  margin-bottom: 10px;
}
.loadimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  padding-top: 25px;
}
.menu {
  margin: 10px 0px;
  clear: both;
	overflow: visible;
}
ul.list_menu a{
	text-decoration:none;
	outline:none;
}
ul.list_menu li{
	float:left;
	width:200px;
	height:85px;
	position:relative;
	cursor:pointer;
}
ul.list_menu li > a{
	position:absolute;
	top:0px;
	left:0px;
	width:200px;
	height:85px;
	z-index:12;
	background:url('../bgdark.png') no-repeat bottom right;
  -moz-box-shadow:0px 0px 2px #000 inset;
	-webkit-box-shadow:0px 0px 2px #000 inset;
	box-shadow:0px 0px 2px #000 inset;
}
ul.list_menu li a img{
	border:none;
	position:absolute;
	width:0px;
	height:0px;
	bottom:0px;
	left:85px;
	z-index:100;
	-moz-box-shadow:0px 0px 4px #000;
	-webkit-box-shadow:0px 0px 4px #000;
	box-shadow:0px 0px 4px #000;
}
ul.list_menu li span.sdt_wrap{
	position:absolute;
	top:25px;
	left:0px;
	width:200px;
	height:60px;
	z-index:15;
}
ul.list_menu li span.sdt_active{
	position:absolute;
	background:#111;
	top:85px;
	width:200px;
	height:0px;
	left:0px;
	z-index:14;
	-moz-box-shadow:0px 0px 4px #000 inset;
	-webkit-box-shadow:0px 0px 4px #000 inset;
	box-shadow:0px 0px 4px #000 inset;
}
ul.list_menu li span span.sdt_link,
ul.list_menu li span span.sdt_descr,
ul.list_menu li div.sdt_box a{
	margin-left:15px;
	text-transform:uppercase;
	text-shadow:1px 1px 1px #000;
}
ul.list_menu li span span.sdt_link{
	color:#fff;
	font-size:24px;
	float:left;
	clear:both;
}
ul.list_menu li span span.sdt_descr{
	color:#0B75AF;
	float:left;
	clear:both;
	width:155px; /*For dumbass IE7*/
	font-size:10px;
	letter-spacing:1px;
}
ul.list_menu li div.sdt_box{
	display:block;
	position:absolute;
	width:200px;
	overflow:hidden;
	height:20px;
	/* top:85px; */
	left:0px;
	display:none;
	background:#000;
}
ul.list_menu li div.sdt_box a{
	float:left;
	clear:both;
	line-height:30px;
	color:#0B75AF;
}
ul.list_menu li div.sdt_box a:first-child{
	/* margin-top:15px; */
}
ul.list_menu li div.sdt_box a:hover{
	color:#fff;
}
img.squared_me {
	-moz-border-radius: 15px;
	border-radius: 15px;
	width: 95px;
	height: 95px;
	float: left;
	position: relative;
  margin:15px 0px 0px 0px;
/* NEED TO FIXME SHADOW -moz-box-shadow: 0 0 10px #888;
  -webkit-box-shadow: 0 0 10px#888;
  box-shadow: 0 0 10px #888;*/
}
span.reference{
	position:fixed;
	left:10px;
	bottom:10px;
	font-size:12px;
}
span.reference a{
	color:#aaa;
	text-transform:uppercase;
	text-decoration:none;
	text-shadow:1px 1px 1px #000;
	margin-right:30px;
}
span.reference a:hover{
	color:#ddd;
}
h1.title{
	height:65px;
	font-family:"Myriad Pro", "Trebuchet MS", sans-serif;
	font-size:65px;
	font-weight: 600;
	float: right;
	font-color: #FFFFFF;
	margin:15px 0px 0px 10px;
	text-transform:uppercase;
	text-shadow:2px 2px 2px #000;
}
h2.subtitle{
	float: right;
	font-family:"Myriad Pro", "Trebuchet MS", sans-serif;
	font-size:22px;
	color:#0B75AF;
	margin:0px 0px 0px 10px;
	text-transform:uppercase;
	text-shadow:1px 1px 1px #000;
}
.content{
  margin-top: 10px;
	font-family:"Myriad Pro", "Trebuchet MS", sans-serif;
	font-size:20px;
	min-height:400px;
	overflow: hidden;
	-moz-box-shadow:0px 0px 4px #000 inset;
	-webkit-box-shadow:0px 0px 4px #000 inset;
	box-shadow:0px 0px 4px #000 inset;
	background:url('../bgdark.png') repeat;
}
.clear {
  clear: both;
}